.form_wrap
{
	width: 350px; /*размер формы*/
	background: #d0d0d0; /*цвет формы*/
	border-radius: 0.5%; /*закругление краев*/
	margin: 25%; /*горизонтальный отступ*/
	margin-top: 5%; /*вертикальный отступ*/
	border: solid 1px black; /*граница сплошная чёрная 1 пиксель*/
}
.text
{
	margin-left: 3%; /*отступ слева*/
}
.form_part2
{
	width: 600px; /*размер формы*/
	background: #d0d0d0; /*цвет формы*/
	border-radius: 0.5%; /*закругление краев*/
	margin: 50%; /*горизонтальный отступ*/
	margin-top: -55%; /*вертикальный отступ*/
	border: solid 1px black; /*граница сплошная чёрная 1 пиксель*/
}