html {                      /* для всего документа */
    background: #ffff99;    /* устанавливаем жёлтый цвет фона */
}
.main-photo-div {        /* для блока для фото в шапке */
    margin-bottom: -4px; /* убираем отступ между ним и след. элементом */
}
.main-photo {       /* для фото в шапке сайта */
    width: 100%;    /* ширина в 100% экрана */
}
.menu-main {            /* для горизонтального главного меню */
  list-style: none;     /* убираем маркеры списка */
  padding: 0 30px;      /* убираем поля от верхнего и нижнего края, устанавливаем поля в 30px от левого и правого края */
  margin: 0;            /* убираем отступы */
  font-size: 18px;      /* размер шрифта в 18px */
  text-align: center;   /* выравниваение текста по-центру */
  position: relative;   /* устанавливаем положение элемента относительно его исходного места */
  background: white;    /* цвет фона - белый */
}
.menu-main li {                 /* для блоков горизонтального главного меню */
    display: inline-block;      /* устанавливаем стиль блочного элемента, который обтекается другими элементами веб-страницы */
}
.menu-main a {              /* для ссылок в блоке горизонтального главного меню */
  text-decoration: none;    /* убираем подчеркивание текста ссылок */
  display: inline-block;    /* генерирует блочный элемент, который обтекается другими элементами веб-страницы */
  margin: 0 15px;           /* убираем отступ от верхнего и нижнего края, устанавливаем отступ в 15px от левого и правого края */
  padding: 10px 30px;       /* устанавливаем поля от верхнего и нижнего края в 10px, устанавливаем поля от левого и правого края в 30px */
  font-family: 'Arial Black', sans-serif;   /* устанавливаем стиль шрифта */
  color: #666666;           /* устанавливаем серый цвет шрифта */
  position: relative;       /* устанавливаем положение элемента относительно его исходного места */
}
.menu-main a.current,
.menu-main a:hover {                /* для ссылок в блоке горизонтального главного меню при выборе и/или наведении */
    color: #DBA17D;                 /* устанавливаем коричневый цвет шрифта */
    transition: .5s ease-in-out;    /* анимация перехода в 0.5 секунд */
}
.content{   /* для блока с содержимым сайта */
    background: #007E3E; /* устанавливаем зелёный цвет фона */
    color: #fff; /* устанавливаем белый цвет текста */
    padding: 20px; /* поля вокруг текста в 20px */
    
}
.post{  /* для вспомогательного элемента, в который заключается содержимое сайта */
    background: white; /* устанавливаем белый цвет фона */
    color: #000;    /* устанавливаем чёрный цвет текста */
    margin: 50px;   /* отступы по краям */
    padding: 20px; /* Поля вокруг текста */
    border-radius: 5px; /* скругление границы полей радиусом в 5px*/
    text-align: justify;
    text-indent: 20px; /* Отступ первой строки в пикселах */
}
.post img { /* для картинок из вспомогательного элемента */
    border: 1px solid grey; /* граница вокруг картинки */
    padding: 5px; /* Поля вокруг картинки */
    width: 300px; /* ширина картинки */
}