TABLE
{
	border-collapse: collapse;
	border: 2px solid black;
	table-layout: fixed;
 	width: 50%;
}
TD, TH
{
	padding: 10px;
	border: 2px solid black;
	text-align: left;
}
#UL 
{
	border: 4px solid black;
	text-align: center;	
}
#UM 
{
	
}
#UR 
{
	font-size: 25px;
	text-align: center;
	background-color: #00CCFF;	
}
#LL 
{
	font-size: 40px;
	color: red;
	text-align: center;	
}
#LC 
{
	background-color: #00CC33;
	text-indent: -5px;
}
#LR 
{
	text-align: right;	
}

/*
	Далее идут комментарии к строчкам в формате ([номера строк]) комментарий

	(1 - 7) Стиль таблиц по-умолчанию
		(3) Границы таблицы объеденить с границами ячеек
		(4) Граница в 2 пикселя сплошная чёрная
		(5) Колонки равной ширины
		(6) Ширина в 50%
	(8 - 13) Стиль строк и столбцов по-умолчанию
		(10) Отступы элементов ячеек в 10 пикселей
		(11) Граница в 2 пикселя сплошная чёрная
		(12) Выравнивание текста по левому краю
	(14 - 18) Стиль элемента с id UL
		(16) Граница в 4 пикселя сплошная чёрная
		(17) Выравнивание текста по центру
	(19 - 22) Стиль элемента с id UM (по-умолчанию)

	(23 - 28) Стиль элемента с id UR
		(25) Размер шрифта 25 пикселей
		(26) Выравнивание текста по центру
		(27) Цвет фона
	(29 - 34) Стиль элемента с id LL
		(31) Размер шрифта 40 пикселей
		(32) Цвет текста красный
		(33) Выравнивание текста по центру
	(35 - 39) Стиль элемента с id LC
		(37) Цвет фона
		(38) Отступ первого символа в -5 пикселей
	(40 - 43) Стиль элемента с id LR
		(42) Выравнивание текста по правому краю

*/